<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--Common Logging configuration-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key ="test" value ="myValue"/>
  </appSettings>
  <connectionStrings>
    <add name="NorthwindDbContext" connectionString="metadata=res://*/Data.Customer.csdl|res://*/Data.Customer.ssdl|res://*/Data.Customer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <common>
    <logging>
      <!--<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>-->
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Config/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <system.serviceModel>
    <client>
      <endpoint name="SecureTestService"
                address="https://localhost/Northwind.ORM.ServiceHost/SecureTestService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="secureBasicHttpBindingConfiguration"
                contract="Northwind.ORM.ServiceHost.ISecureTestService" />
      <endpoint name="TestService"
                address="http://localhost/Northwind.ORM.ServiceHost/TestService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="secureBasicHttpBindingConfiguration"
                contract="Northwind.ORM.ServiceHost.ITestService" />
      
                
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" messageEncoding ="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="secureBasicHttpBindingConfiguration">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>